[Desktop Entry]
Type=Application
Name=Opal Terminal
GenericName=Terminal
Comment=opal's own terminal app
Exec=opal-terminal
Icon=opal-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;terminal;
StartupNotify=true
StartupWMClass=opal-terminal
